<div class="container">
    <h2 style="text-align: center;">Registration</h2>
    <form [formGroup]="form" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start stretch" (onsubmit)="submit()">
        <div fxLayout="row" fxLayoutGap="5px">
            <mat-form-field appearance="fill" fxFlex>
                <mat-label>First Name</mat-label>
                <input matInput formControlName="firstName" name="firstName">
                <mat-error *ngIf="firstName?.errors?.required">First Name is required</mat-error>
            </mat-form-field>
        
            <mat-form-field appearance="fill" fxFlex>
                <mat-label>Surname</mat-label>
                <input matInput formControlName="surname" name="surname">
                <mat-error *ngIf="surname?.errors?.required">Surname is required</mat-error>
            </mat-form-field>
        </div>    
        <mat-form-field appearance="fill">
            <mat-label>Email address</mat-label>
            <input matInput formControlName="email" name="email">
            <mat-error *ngIf="email?.errors?.required">Email is required</mat-error>
            <mat-error *ngIf="email?.errors?.email">Not a valid email</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Enter password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" name="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="password?.errors?.required">Password is required</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="submit()" [disabled]="form.invalid">Register</button>
    </form>
</div>